*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
}
header{
    position: fixed;
    
}
/* .container img{
    height: 50px;
    width: 30%!important;
    padding:  10px 0;
} */
.container-header{
    display: flex;
    width: 100%;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%);
    background-color: rgba(255, 255, 255, 0.406) !important;
    justify-content: space-between;
    /* padding: 20px 30px */
    margin: auto;
    align-items: center;
    height: 75px;
    padding: 0 30px;
}
.nav-menu{
    align-items: center;

}
header ul .items-stretch{
    margin-bottom: 0 !important;   
}
.login a{
    padding: 0 10px;
}