
/** detail*/
.bCCVVj{
    background: none !important;
  }
  .dGRSqL{
    height: 41vw !important;
  }
  .MuiRating-root {
    color: #ffb400;
    cursor: pointer;
    display: inline-flex;
    position: relative;
    font-size: 1.5rem;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
  }
  .jss68 {
    width: fit-content;
  }
  
  #detailCss .ant-tabs>.ant-tabs-nav, .ant-tabs>div>.ant-tabs-nav {
      position: relative;
      display: flex;
      flex: none;
      align-items: center;
  }
  #detailCss .ant-tabs-bottom>.ant-tabs-nav, .ant-tabs-bottom>div>.ant-tabs-nav, .ant-tabs-top>.ant-tabs-nav, .ant-tabs-top>div>.ant-tabs-nav {
      margin: 0 0 16px;
  }
  .ant-tabs-nav {
    height: fit-content !important;
  }
  
  
 #detailCss .ant-tabs-tab{
    border-bottom: 1px solid #80808038 !important;
    border-bottom-width: thin !important;
    width: 80%;
    margin: auto;
    width: 100%;
    border-bottom: none !important;
  
  }
  #detailCss .ant-tabs-nav-list{
    width: 270px !important;
  }
  
  #detailCss .ant-tabs-tab-btn{
    width: 100%;
  }
  #detailCss .ant-tabs-top>.ant-tabs-nav:before{
    border-bottom: none !important;
  }
  #detailCss .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: #fb4226 !important;
    transition: all .2s !important;
    text-decoration: none;
    font-size: 26px !important;
  }
  /* ::selection {
    color: #fb4226;
    background: #fb4226;
    font-size: 20px;
  } */
  
  #detailCss .ant-tabs{
    color: white !important;
    height: 700px;
  }
  #detailCss.ant-tabs-tab{
    font-size: 20px;
    
  }
  
  .tenRapcontainer .tenRap{
    transition: none !important;
    font-size: 14px;
  }
  #detailCss .ant-tabs-nav-list{
   font-size: 20px !important;
   width: fit-content !important;
  }
  #detailCss  .ant-tabs-tab{
    height: 70px;
    margin: 0 !important;
    text-align: center !important;
  }
  #detailCss .ant-tabs-ink-bar{
    display: none;
  }
  #detailCss .ant-tabs-tab-btn{
    font-size: 20px;
    align-items: center;
    color: white !important;
    padding: 0px 10px;
  }
  
  #detailCss .ant-tabs-tab-btn:hover{
    /* color: #fb4226 !important; */
    font-size: 26px ;
  }
#detailCss  .ant-tabs-tab-active:hover{
    color: #fb4226 !important;
    font-size: 26px ;
  }
  .ant-tabs-tab-btn:active{
    color: #fb4226 !important;
    font-size: 26px;
  }
  .tdBold{
    width: 30%;
    font-weight: 700;
  
    line-height: 2;
  }
  .ant-rate{
    padding: 0 15px;
  }
  .scrollBar::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
  }
  .scrollBar::-webkit-scrollbar-thumb{
    background-color: #9f9f9f;
  }